* {
	margin: 0;
	padding: 0;
	box-sizing: line-box;
}

.headline {
	width: 100%;
	height: 400px;
	background-image: url(img7/mv.jpg);
	background-size: cover;
	background-position: bottom center;
}

.headline-text {
	padding: 20px;
}

.content-box {
	width: 840px;
	margin: 50px auto;
}

.content {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
}

